body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #005c90;
    color: white;
    height: 100vh;
    padding-top: 20px;
    position: fixed;
}

.sidebar h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.logo.png  {
  width: 120px;       /* sesuaikan ukuran logo */
  height: auto;
  object-fit: contain;
}

.sidebar ul li a {
    display: block;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    transition: background 0.3s;
}

.sidebar ul li a:hover {
    background-color: #004f7a;
}

.sidebar .logout {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    font-size: 14px;
}

.main-content {
    margin-left: 250px;
    padding: 30px;
    width: 100%;
}

.card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 220px;
    height: 100px;
    border: 1px solid #ccc;
    border-left: 5px solid #005c90;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
    background-color: #fff;
}

.card .label {
    font-size: 14px;
    color: #555;
}

.card .value {
    font-size: 24px;
    font-weight: bold;
    color: #005c90;
}


